.venv
.idea
.env
backend/.env
frontend/.env

node_modules
frontend/node_modules
frontend/dist

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Django
backend/db.sqlite3
backend/media/
backend/static/

store_logins.txt

# SQLTools
.vscode/settings.json
